/*
 *= require 'wmd/wmd'
*/

body {
	background-color:#EEEEEE;
	font-size:12px;
}

#notice {
	text-align:center;
	color:red;
	font-size:14px;
}

#nav {
	margin: -12px 0px 0px -48px;
	height: 35px;
	width: 103.5%;
	background: #2a2a2a;

	.menu { 
		font:12px verdana, arial, sans-serif;
		width: 60%; 
	}

	.menu, .menu li {
		list-style:none;
		padding:0;
		margin:0;
	}

	.menu li { 
		float:left; 
	}

	.menu li a {
		display:block;
		padding:10px 50px;
		background:#2a2a2a;
		color:#ffffff;
		text-decoration:none;
	}

	.menu li a:hover {
		background:#ffffff;
		color:#2a2a2a;
		text-decoration:none;
	}

	.userinfo {
		font:12px verdana, arial, sans-serif;
		float:right; 
	}
	.userinfo, .userinfo li {
		list-style:none;
		padding:0;
		margin:0px;
	}

	.userinfo li { 
		float:left; 
	}
	.userinfo li a {
		display:block;
		padding:10px 50px;
		background:#2a2a2a;
		color:#ffffff;
		text-decoration:none;
	}
	.userinfo li a:hover {
		background-color: #3D81EF;
	}
}


#main {

	.sign-form {
		height:100%;
		width: 100%;

		display:-moz-box;
		display:-webkit-box;
		display:box;
		-moz-box-align:center;
		-webkit-box-align:center;
		box-align:center;
		-moz-box-pack:center;
		-webkit-box-pack:center;
		box-pack:center;
	}

	.sign-box {
		padding:20px;
		margin-top:40px;
		background-color: white;
	    border-radius: 3px 3px 3px 3px;
	    box-shadow: 0 0 0 1px #DDDDDD;

	    fieldset {
	    	border:none;
	    	legend {
			    border-color: -moz-use-text-color -moz-use-text-color #E5E5E5;
			    border-style: none none solid;
			    border-width: 0 0 1px;
			    color: #333333;
			    display: block;
			    font-size: 19.5px;
			    line-height: 36px;
			    margin-bottom: 25px;
			    padding: 0;
			    width: 100%;
	    	}
	    	.control-group {
	    		margin-top:15px;
	    		margin-bottom:9px;
	    	}
			textarea, input[type="text"], input[type="password"] {
			    background-color: #FFFFFF;
			    border: 1px solid #CCCCCC;
			    border-radius: 3px 3px 3px 3px;			    
			}
	    	label, input, button, select, textarea {
    			font-size: 13px;
    			font-weight: normal;
    			line-height: 18px;
			}
			select, textarea, input[type="text"], input[type="password"] {
			    color: #555555;
			    display: inline-block;
			    height: 18px;
			    margin-top:4px;
			    margin-bottom: 5px;
			    padding: 5px;
			}
			input[type="submit"] {
				margin-top:5px;
	  			padding: 3px 8px 3px 8px;
				border-radius: 4px 4px 4px 4px;
			    border-style: solid;
			    border-width: 1px;
			    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			    background-color: #F5F5F5;
				background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
				background-repeat: repeat-x;
			    color: #333333;
			    cursor: pointer;
			    display: inline-block;
			    text-align: center;
			    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
			    vertical-align: middle;
			}
			textarea:focus, input[type="text"]:focus, input[type="password"]:focus {
			    border-color: rgba(82, 168, 236, 0.8);
			    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);    
			}
	    }
	}
}

#post {
	height:100%;
	width: 100%;

	display:-moz-box;
	display:-webkit-box;
	display:box;
	-moz-box-align:center;
	-webkit-box-align:center;
	box-align:center;
	-moz-box-pack:center;
	-webkit-box-pack:center;
	box-pack:center;

	.post-box {
		width: 842px;
		height: 569px;
		background-color:white;
		padding: 14px;
		border-radius: 3px 3px 3px 3px;
	    box-shadow: 0 0 0 1px #DDDDDD;

		.post-title {
			margin-bottom:5px;

		    #post_title {
		    	width: 832px;
		    	height: 18px;
		    	padding: 4px;
		    	margin: 0px;
		    	background-color: #FFFFFF;
			    border: 1px solid #CCCCCC;
			    border-radius: 3px 3px 3px 3px;
		    }
		}

	    #post_content {
	    	width: 832px;
	    	height: 373px;
	    	padding: 4px;
	    	margin: 1px;
	    	background-color: #FFFFFF;
		    border: 1px solid #CCCCCC;
		    border-radius: 3px 3px 3px 3px;
	    }

      	#notes-preview {
      		width: 832px;
	      	overflow-x:auto;
	      	border: 2px dotted #CCCCCC;
    		padding: 3px;
      	}

      	#copy_html {
      		visibility:hidden;
      		height:0;
      		widows:0;
      	}

      	input[type="submit"] {
  			padding: 3px 8px 3px 8px;
			border-radius: 4px 4px 4px 4px;
		    border-style: solid;
		    border-width: 1px;
		    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		    background-color: #F5F5F5;
			background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
			background-repeat: repeat-x;
		    color: #333333;
		    cursor: pointer;
		    display: inline-block;
		    text-align: center;
		    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
		    vertical-align: middle;
		}
		input, textarea {
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
			-webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
			-moz-transition: border linear 0.2s, box-shadow linear 0.2s;
			-ms-transition: border linear 0.2s, box-shadow linear 0.2s;
			-o-transition: border linear 0.2s, box-shadow linear 0.2s;
			transition: border linear 0.2s, box-shadow linear 0.2s;
		}
		input:focus, textarea:focus {
			border-color: rgba(82, 168, 236, 0.8);
			-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
		}
	}
}


footer {
	width:100%;
	.container {
		color: #8a8c8e;
		text-align:center;
		font-size:14px;
		clear:both;
		text-shadow: 0 1px 0 #FFFFFF;
	}
}